.achievement {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;

  & + & {
    margin-left: 32px;

    @include tablet {
      margin-left: 42px;
    }

    @include desktop {
      flex-grow: 0;
    }
  }
}

.achievement__title {
  padding: 0 16px;
  position: relative;
  bottom: 0.75em;
  font-family: $arial;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  color: $darkgrey;
  box-sizing: border-box;
  background-color: $grey;

  @include tablet {
    padding: 0 6px;
    font-size: 14px;
    background-color: #ffffff;

    br {
      display: none;
    }
  }

  @include desktop {
    background-color: $grey;
  }
}

.achievement__value {
  margin: 0;
  padding: 15px 20px;
  min-width: 124px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  border: 1px solid $border-grey;
  border-radius: 3px;
  box-sizing: border-box;

  @include tablet {
    padding-bottom: 20px;
    min-width: 162px;
    font-size: 30px;
    line-height: 1.23;
  }
}
