.feature {
  padding-bottom: 20px;

  @include tablet {
    padding-bottom: 3px;
  }

  @include desktop {
    padding-bottom: 0;
  }
}

.feature__list {
  @include reset-list;
  padding-bottom: 2px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: feature_num;
  }
}

.feature__item {
  display: flex;
  align-items: center;
  margin: 20px 0;

  @include tablet {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin: 37px 0 38px;
    padding-bottom: 60px;
    width: 325px;
    counter-increment: feature_num;
    z-index: 0;

    &::after {
      content: counter(feature_num);
      position: absolute;
      top: -40px;
      right: 80px;
      font-size: 280px;
      color: #f2f2f2;
      z-index: -1;
    }

    &:first-child::after {
      right: 95px;
    }
  }

  @include desktop {
    margin: 35px 0 0;
    width: 245px;

    &::after {
      right: 0;
    }

    &:first-child::after {
      right: 15px;
    }
  }

  &::before {
    content: "";
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: $green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;

    @include tablet {
      width: 80px;
      height: 80px;
      margin-bottom: 30px;
    }
  }

  &--leaf::before {
    background-image: url("../img/raster/advantage-leaf@1x.png");

    @include retina {
      background-image: url("../img/raster/advantage-leaf@2x.png");
    }
  }

  &--powder::before {
    background-image: url("../img/raster/advantage-powder@1x.png");

    @include retina {
      background-image: url("../img/raster/advantage-powder@2x.png");
    }
  }

  &--dining::before {
    background-image: url("../img/raster/advantage-dining@1x.png");

    @include retina {
      background-image: url("../img/raster/advantage-dining@2x.png");
    }
  }

  &--clock::before {
    background-image: url("../img/raster/advantage-clock@1x.png");

    @include retina {
      background-image: url("../img/raster/advantage-clock@2x.png");
    }
  }
}

.feature__text {
  margin: 0;
  line-height: 18px;

  @include tablet {
    width: 250px;
    line-height: 1.5;
  }
}

.feature__text br {
  display: none;

  @include tablet {
    display: inline;
  }
}
