.intro {
  background:
    linear-gradient(to top, #ffffff 175px, transparent 175px),
    url("../img/index-background-mobile@1x.jpg") no-repeat top;
  background-size: 100%;

  @include retina {
    background-image:
      linear-gradient(to top, #ffffff 175px, transparent 175px),
      url("../img/index-background-mobile@2x.jpg");
  }

  @include tablet {
    background: #ffffff;
  }

  @include desktop {
    min-height: 560px;
    background: transparent;
  }
}

.intro__wrapper {
  position: relative;
  padding-bottom: 22px;
  text-align: center;
  color: #ffffff;
  z-index: 0;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 120px;
    padding-right: 20px;
    padding-bottom: 2px;
    text-align: left;
    color: $black;
  }
}

.intro__title {
  @include desktop {
    margin-top: 34px;
  }
}

.intro__text {
  margin-top: 5px;
  margin-bottom: 28px;
  font-size: 14px;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 15px;
  }

  @include desktop {
    padding-bottom: 25px;
  }
}

.intro__image {
  margin: 0 auto;
  margin-bottom: 2px;
  //width: 100%;
  max-width: 630px;
  height: auto;

  @include tablet {
    order: 2;
    margin-top: -80px;
    margin-bottom: 0;
    width: 100%;
    z-index: -1;
  }

  @include desktop {
    position: absolute;
    top: 0;
    left: 520px;
    margin-top: 0;
    margin-bottom: 55px;
    width: 525px;
    height: 500px;
  }
}

.intro__btn {
  order: 1;
  font-size: 14px;
  color: #ffffff;

  @include tablet {
    display: inline-block;
    width: auto;
    margin-bottom: 3px;
    padding: 16px 27px;
    font-size: 20px;
  }
}
