.program {
  @include desktop {
    padding-top: 40px;
  }
}

.program__wrapper {
  @include desktop {
    padding: 0;
    display: flex;
  }
}

.program__item {
  margin-bottom: 20px;
  padding: 20px 20px 0;
  background-color: $grey;

  &:last-child {
    margin-bottom: 9px;
  }

  @include tablet {
    position: relative;
    margin-bottom: 30px;
    padding: 55px 285px 40px 50px;

    &--pro {
      padding-right: 315px;
    }
  }

  @include desktop {
    width: 570px;
    margin: 40px;
    padding: 25px 50px;

    &:last-child {
      margin-bottom: 40px;
    }
  }
}

.program__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 4px 2px;
  font-size: 24px;
  line-height: 50px;
  font-weight: normal;
  text-transform: uppercase;

  @include tablet {
    padding: 22px 0;
    font-size: 36px;
    line-height: 1;
  }
}

.program__icon {
  position: relative;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $green;

  &::after {
    content: "";
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--slim::after {
    width: 100%;
    height: 97%;
    top: 42.5%;
    background: url("../img/icon-cat-slim.svg") no-repeat center;
  }

  &--pro::after {
    width: 135%;
    height: 95%;
    top: 50%;
    background: url("../img/icon-cat-pro.svg") no-repeat center;
  }

  @include tablet {
    position: absolute;
    right: 42px;
    top: 92px;
    width: 200px;
    height: 200px;
  }

  @include desktop {
    position: relative;
    top: auto;
    right: auto;
    margin-right: 60px;
    width: 100px;
    height: 100px;
  }
}

.program__description {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    padding-top: 5px;
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 1.5;
    border-bottom: 0;
  }

  @include desktop {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.program__link {
  display: flex;
  align-items: center;
  padding: 20px 0;
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  border-left: 0;

  &::before,
  &::after {
    display: block;
    content: "";
    transition: all 0.2s ease-out;
  }

  &::before {
    order: 1;
    margin-left: 10px;
    width: 19px;
    height: 3px;
    background-color: $darkgrey;
  }

  &::after {
    order: 2;
    border: 5.5px solid transparent;
    border-left-color: $darkgrey;
  }

  &:hover::before {
    width: 27px;
  }

  &:active {
    opacity: 0.3;
    transition: none;
  }

  @include tablet {
    display: inline-flex;
    font-size: 20px;
    padding-left: 2px;
    border: 0;

    &::before {
      margin-left: 25px;
    }
  }

  @include desktop {
    padding: 11px 0;
    margin-bottom: 27px;
  }
}
