.catalog {
  padding-top: 27px;
  padding-bottom: 27px;
}

.catalog__title {
  padding-bottom: 40px;
}

.catalog__item {
  padding: 0 20px 4px;
  border-top: 1px solid #ededed;

  &:last-child {
    border-bottom: 1px solid #ededed;
  }
}

.catalog__item .theme__btn {
  font-size: 16px;
}
