.catalog {
  //padding-top: 7px;
}

.catalog__header {
  padding-bottom: 20px;
}

.catalog__item {
  padding: 0 20px 24px;
  border-top: 1px solid #ededed;

  &:last-child {
    border-bottom: 1px solid #ededed;
  }
}
