.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 30px;
  background-image: url("../img/raster/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: url("../img/raster/gift-photo-mobile@2x.jpg");
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
    background-image: url("../img/raster/gift-photo-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/raster/gift-photo-tablet@2x.jpg");
    }
  }

  @include desktop {
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("../img/raster/gift-photo-desktop@1x.jpg");

    @include retina {
      background-image: url("../img/raster/gift-photo-desktop@2x.jpg");
    }
  }

  &::before {
    content: "";
    margin: 50px 0 50px;
    display: block;
    width: 240px;
    height: 60px;
    background: url("../img/vector/icon-gift.svg") no-repeat center;
  }

  @include desktop {
    width: 245px;
  }
}

.promotion__text {
  flex-grow: 1;
  margin: 15px 0;
  text-align: center;
  font-family: $arial;
  line-height: 18px;

  color: #ffffff;

  @include tablet {
    flex-grow: 0;
    margin-top: 25px;
    width: 285px;
    text-align: left;
  }

  @include desktop {
    margin-top: 15px;
    text-align: center;
  }
}
