//Colors
$black: #111111;
$darkgrey: #444444;
$grey: #f2f2f2;
$border-grey: #cdcdcd;
$green: #68b738;
$red: #ff8282;

//Fonts
$oswald: "Oswald", "Arial Narrow", sans-serif;
$arial: "Arial", sans-serif;

//Viewports
$mobile-width: 320px;
$mobile-pads: 20px;
$tablet-width: 768px;
$tablet-pads: 30px;
$desktop-width: 1300px;
$desktop-pads: 40px;
