//Colors
$theme__base-color: #68b738;

//Fonts
$regular: "Oswald Regular", "Arial", sans-serif;
$medium: "Oswald Medium", "Arial", sans-serif;

//Viewports
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
