.form-unit {
  &--no-title {
    padding: 10px 0;

    @include tablet {
      padding: 30px 0;
    }

    @include desktop {
      padding-bottom: 0;
    }
  }

  &--bordered {
    margin: 0 -20px;
    padding: 9px 20px;
    outline: 1px solid $border-grey;

    @include tablet {
      margin: 25px -30px 77px 40px;
      padding: 12px 30px;
    }

    @include desktop {
      flex-grow: 1;
      margin: 48px 0 27px 80px;
    }
  }
}

.form-unit__title {
  @include tablet {
    margin: 62px 0 75px;

    &--last {
      margin-bottom: 40px;
    }
  }

  @include desktop {
    margin: 46px 0 60px;

    &--last {
      margin: 62px 0 40px;
    }
  }
}

.form-unit__row {
  margin: 14px 0;

  @include tablet {
    margin: 16px 0;
    padding: 0 40px;
    padding-bottom: 4px;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
    width: 570px;

    &--textarea {
      width: auto;
    }
  }
}

.form-unit__item {
  max-width: 100%;
  display: flex;
  align-items: center;
}

.form-unit__label,
.form-unit__input,
.form-unit__input::placeholder {
  font-family: $oswald;
  line-height: 1.12;
  text-transform: uppercase;

  @include tablet {
    line-height: 1;
  }
}

.form-unit__label {
  margin-right: 10px;

  @include desktop {
    margin-right: 20px;
  }
}

.form-unit--no-title .form-unit__label {
  margin-right: 15px;
}

.form-unit__input {
  display: inline-block;
  flex-grow: 1;
  padding: 13px;
  min-width: 100px;
  color: $darkgrey;
  border: 1px solid $border-grey;
  outline: none;
  box-sizing: border-box;

  &:hover {
    border-color: #bababa;
  }

  &:active,
  &:focus {
    border-color: $darkgrey;
    box-shadow: inset 0 0 0 1px $darkgrey;
  }

  &:active:invalid,
  &:focus:invalid,
  &.invalid {
    border-color: $red;
    box-shadow: inset 0 0 0 1px $red;
  }

  @include tablet {
    padding: 10px 20px;
  }

  &--textarea {
    height: 150px;
    box-sizing: border-box;
    resize: none;

    @include tablet {
      height: 175px;
      padding: 15px 20px;
    }

    @include desktop {
      margin-top: 16px;
    }
  }
}

.form-unit__input-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;

  .form-unit__input {
    padding-right: 50px;
  }
}

.form-unit__icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;

  .form-unit__input:active + &,
  .form-unit__input:focus + & {
    fill: $green;
  }

  .form-unit__input:active:invalid + &,
  .form-unit__input:focus:invalid + &,
  .invalid + & {
    fill: $red;
  }
}

.form-unit__list {
  @include reset-list;

  &--checks {
    @include tablet {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 40px;
    }

    @include desktop {
      padding-left: 0;
    }
  }
}

.form-unit__list-item {
  margin: 12px 0;
}

.form-unit__list--checks .form-unit__list-item {
  @include tablet {
    width: 325px;
    margin: 16px 0;
  }

  @include desktop {
    width: 245px;
    margin: 16px 0;
  }
}

.form-unit__label--radio,
.form-unit__label--checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 0;

  input:disabled + &,
  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &::before {
    display: block;
    content: "";
    flex-shrink: 0;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid $border-grey;
    background-color: #ffffff;
    box-sizing: border-box;

    @include tablet {
      margin-right: 20px;
      width: 40px;
      height: 40px;
    }
  }

  &:hover::before {
    border-color: #bababa;
  }
}

.form-unit__label--radio::before {
  border-radius: 50%;
}

.form-unit__radio:checked + .form-unit__label--radio::before {
  background-image: radial-gradient($green 0, $green 6px, #ffffff 7px, #ffffff 100%);

  @include tablet {
    background-image: radial-gradient($green 0, $green 9px, #ffffff 10px, #ffffff 100%);
  }
}

.form-unit__label--checkbox:active::before,
.form-unit__checkbox:checked + .form-unit__label--checkbox::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 21px;
}

.form-unit__checkbox:checked + .form-unit__label--checkbox:active::before {
  background-image: none;
}
