.contacts {
  @include desktop {
    position: relative;
    padding-left: calc((100vw - #{$desktop-width}) / 2 + #{$desktop-pads  });
    display: flex;
    align-items: center;
    height: 400px;
  }
}

.contacts__text-box {
  position: relative;
  display: flex;
  padding: 26px 20px 25px;
  line-height: 20px;

  &--white {
    background-color: #ffffff;
  }

  @include tablet {
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px 52px;

    &--white {
      background-color: #ffffff;
    }
  }

  @include desktop {
    margin-bottom: 10px;
    padding-left: 75px;
    padding-right: 85px;
    z-index: 1;
    background-color: #ffffff;
  }
}

.contacts__half {
  margin: 0;
  width: 50%;

  @include tablet {
    width: 160px;
  }
}

.contacts__greeting {
  @include tablet {
    line-height: 1.25;
  }

  @include desktop {
    margin-right: 90px;
  }
}

.contacts__address {
  line-height: 1.5;

  @include tablet {
    text-align: right;
  }

  @include desktop {
    text-align: left;
    line-height: 1.4;
    margin-bottom: 5px;
  }
}

.contacts__city {
  @include tablet {
    display: block;
    margin-top: 1em;
  }
}

.contacts__map {
  margin-top: -38px;
  height: 400px;
  background-color: #fdf7ef;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @include retina {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @include tablet {
    margin-top: -5px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @include retina {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @include desktop {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    background-image: url("../img/bg-map-desktop@1x.png");

    @include retina {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
