.page-footer {
  background-color: $grey;
}

.page-footer__bottom {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 47px;
  }

  @include desktop {
    padding-top: 52px;
  }
}

.page-footer__item {
  padding: 20px 0;

  @include tablet {
    padding: 0;
  }
}
