.page-header {
  position: relative;
  background-color: #ffffff;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
