.page-nav {
  margin: 0 -20px;
  border-top: 1px solid #e6e6e6;

  @include tablet {
    border-top: none;
    margin: 0 -18px;
  }
}

.page-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  .no-js & {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.page-nav__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;

  .no-js &,
  .page-nav--opened & {
    display: block;

    @include tablet {
      display: flex;
    }
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    width: 570px;
    justify-content: flex-end;
  }
}

.page-nav__item {
  border-bottom: 1px solid #e6e6e6;

  @include tablet {
    border-bottom: none;
  }
}

.page-nav__link {
  display: block;
  padding: 20px;
  font-family: $oswald;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    pointer-events: none;
  }

  @include tablet {
    margin: 0 18px;
    padding: 10px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;

    &--active {
      border-bottom: 2px solid $green;
    }
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.24;
  }
}

@include desktop {
  .page-nav__list--index .page-nav__link {
    color: #ffffff;

    &--active {
      border-bottom-color: #ffffff;
    }
  }
}
