.page-logo {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;

  &--footer {
    padding-top: 29px;
    padding-bottom: 20px;

    @include tablet {
      padding: 0;

      .page-logo__title {
        margin-right: 27px;
        width: 128px;
      }
    }
  }
}

.page-logo__image {
  position: absolute;
  top: 11px;
  left: 0;

  @include tablet {
    position: initial;
    width: 73px;
    height: 57px;
  }
}

.page-logo__title {
  margin: auto;

  @include tablet {
    margin-left: 15px;
    width: 85px;
  }

  @include desktop {
    margin-left: 12px;
    width: 118px;
    height: 22px;
  }
}
