.rights-owner {
  @include tablet {
    padding-top: 30px;
  }
}

.rights-owner__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  color: $darkgrey;
}

.rights-owner__logo {
  @include tablet {
    margin-left: 22px;
  }
}
