.rights-owner {
  @include tablet {
    padding-top: 20px;
  }
}

.rights-owner__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  color: $darkgrey;
}

.rights-owner__logo {
  width: 27px;
  height: 34px;

  @include tablet {
    margin-left: 22px;
  }
}
