.socials {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    border: none;
  }
}

.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include reset-list;
}

.socials__item {
  margin: 0 18px;
  width: 21px;

  @include tablet {
    margin: 0 15px;
    width: 25px;

    &:nth-child(2) {
      margin: 0 18px;
      width: 19px;
    }
  }
}

.socials__link {
  display: inline-block;
  font-size: 0;

  svg {
    fill: #666666;
  }

  &:hover svg {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk svg {
    @include tablet {
      width: 30px;
      height: 16px;
    }
  }

  &--ig svg {
    width: 20px;

    @include tablet {
      width: 23px;
      height: 23px;
    }
  }

  &--fb svg {
    width: 12px;

    @include tablet {
      width: 14px;
      height: 28px;
    }
  }
}
