.theme {
  background-color: #ffffff;
}

.theme__title,
.theme__block-title,
.theme__subtitle {
  margin: 0;
}

.theme__title {
  padding: 20px 0;
  font-size: 36px;
  font-weight: normal;

  &--top {
    padding-top: 27px;
  }

  @include tablet {
    padding: 35px 0;
    font-size: 60px;
  }
}

.theme__block-title {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.theme__subtitle {
  position: relative;
  margin-top: 30px;
  margin-bottom: 33px;
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  background-image: linear-gradient(to bottom, transparent 0, transparent 13px, $green 13px, $green 16px, transparent 16px, transparent 100%);

  span {
    display: table;
    padding: 0 20px;
    background-color: #ffffff;
  }
}

.theme__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.theme__btn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-family: $regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: $green;
  border: none;
  box-sizing: border-box;

  &--ghost {
    color: black;
    background-color: $grey;
  }
}
