.theme {
  background-color: #ffffff;
}

.theme__title {
  margin: 0;
  padding: 20px 0;
  font-size: 36px;
  font-weight: normal;
}

.theme__block-title {
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.theme__subtitle {
  margin: 0;
  padding: 30px 0;
  font-size: 24px;
}

.theme__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.theme__btn {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px 20px;
  font-family: $regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: $green;
  border: none;
  box-sizing: border-box;

  &--ghost {
    background-color: $gray;
  }
}
