.theme {
  background-color: #ffffff;
}

.theme__title,
.theme__block-title,
.theme__subtitle {
  margin: 0;
}

.theme__title {
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: normal;
}

.theme__block-title {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.theme__subtitle {
  position: relative;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  background-image: linear-gradient(to bottom, transparent 0,
    transparent 15px, $green 15px, $green 18px,
    transparent 18px, transparent 100%);

  span {
    display: table;
    padding: 0 20px;
    background-color: #ffffff;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    height: 3px;
    background-color: $green;
    z-index: -1;
  }
}

.theme__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.theme__btn {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-family: $regular;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: $green;
  border: none;
  box-sizing: border-box;

  &--ghost {
    color: black;
    background-color: $grey;
  }
}
